<mat-card>
  <mat-card-title class="page-title">RSS, Atom & Sitemap</mat-card-title>
  <mat-divider></mat-divider>
  <div class="feeds">
    <mat-card>
      <mat-card-title>RSS</mat-card-title>
      <mat-card-content>{{rss}}</mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Atom</mat-card-title>
      <mat-card-content>{{atom}}</mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Sitemap</mat-card-title>
      <mat-card-content>{{sitemap}}</mat-card-content>
    </mat-card>
  </div>
  <mat-divider></mat-divider>
  <mat-card-footer>
    <div class="page-footer">
      <mat-icon>whatshot</mat-icon>
    </div>
  </mat-card-footer>
</mat-card>
